.main {
  display: flex;
  flex-direction: row;
  margin: 0.75em 0em;
  border-radius: 8px;
  scroll-behavior: smooth;
  background-color: #e6e8ea;

  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Enable Horizontal Scroll */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  /* Ensure full width but allow scrolling */
  width: 100%;
  max-width: 100vw;
}

@media (min-width: 1460px) {
  .main {
    width: 50%;
    max-width: fit-content;
  }
}

@media (min-width: 620px) and (max-width: 1320px) {
  .main {
    width: fit-content;
  }
}

@media (max-width: 620px) {
  .main {
    max-width: 100vw;
  }
}

.scrollContainer {
  display: flex;
  min-width: max-content; /* Ensures full width of items */
  min-width: fit-content;
}

@media (max-width: 768px) {
  .scrollContainer {
    padding-right: 20px;   /* ✅ Ensures last element is fully visible */
  }
}

.main::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Ensure buttons don’t shrink */
.scrollContainer button {
  flex: 1 1 auto;
  min-width: 100px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  background-color: #e6e8ea;
  margin: 4px 2px;
  border-radius: 10px;
}

.scrollContainer button:hover {
  background-color: #c5c5c5;
}

.scrollContainer .selected {
  background-color: #000;
  color: #fff;
}

.scrollContainer .selected:hover {
  background-color: #414a4c;
}
