/* Sidebar Main Container */
.sidebarMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #000000;
  color: white;
  padding: 2.25rem 1.5rem;
  width: 285px; /* Default sidebar width */
  transition: width 0.75s ease; /* Smooth transition for width change */
  overflow: hidden; /* Hide overflow during the transition */
}

/* When the sidebar is collapsed */
.sidebarMain.collapsed {
  width: 0.5rem; /* Width when collapsed */
  padding: 2.25rem 0rem 0rem 1rem; /* Adjust padding */
  flex-grow: 0.5;
}

@media (max-width: 1120px) {
  .sidebarMain.collapsed {
    flex-grow: 0.75;
  }
}

/* Logo and Collapse Button */
.logoLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}

/* Collapse button styles */
.clpsBtn {
  height: min-content;
  width: min-content;
  border: none;
  background: none;
  cursor: pointer;
}

/* Rotate an element by 180 degrees */
.rotate0 {
  /* transform: rotate(180deg); */
  transition: transform 0.75s ease; /* Optional: for smooth transition */
}
/* Rotate an element by 180 degrees */
.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.75s ease; /* Optional: for smooth transition */
}

/* Menu Options */
.menuOptions {
  margin-top: 50px;
  opacity: 1; /* Default opacity */
  visibility: visible; /* Make sure it's visible by default */
  transition: opacity 0.75s ease, visibility 0s 0.75s; /* Smooth transition for hiding/showing */
  transition-delay: 0s; /* Remove delay on show */
  flex-grow: 1;
}

/* When collapsed, hide menu options */
.menuOptions.hidden {
  opacity: 0; /* Fade out */
  visibility: hidden; /* Hide the element */
  pointer-events: none; /* Disable interaction */
}

/* Sidebar Footer */
.footerParent {
  margin-top: 12px;
}
.footerElement {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  color: #999999;
}
.footerElement:hover {
  color: #ccc;
}
/* Hide footer when collapsed */
.footerElement.hidden {
  display: none; /* Completely hide when collapsed */
}
.footerElement img {
  filter: brightness(0.5);
}
.footerElement:hover img {
  filter: brightness(1);
}

/* Hide footer when collapsed */
.hidden {
  display: none;
}
